.SelectionItemCard {
  display: flex;
  padding: 1vmax;
  height: 8vmax;
  align-items: flex-start;
  box-sizing: border-box;
}
.SelectionItemCard > img {
  width: 5vmax;
}

.SelectionItemCard > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}

.SelectionItemCard > div > a {
  font: 300 1.9vmax cursive;
  color:black;
  text-decoration: none;
}

.SelectionItemCard > div > span {
  font: 300 1.9vmax "Roboto";
  color:black;
}

.SelectionItemCard > div > p {
  color: navy;
  font: 100 1.8vmax "Roboto";
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .SelectionItemCard {
    padding: 3vmax;
    height: 25vmax;
  }
  .SelectionItemCard > img {
    width: 10vmax;
  }

  .SelectionItemCard > div {
    margin: 1vmax 2vmax;
  }

  .SelectionItemCard > div > a {
    font: 300 2vmax cursive;
  }

  .SelectionItemCard > div > span {
    font: 300 1.9vmax "Roboto";
  }

  .SelectionItemCard > div > p {
    font: 100 1.8vmax "Roboto";
  }
}
