.appointments-container h1{
    text-align: center;
    background: linear-gradient(
    to bottom right,
    white,
    lightblue);
}
.appointments-container{
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 120px;
    background-image: linear-gradient(
    to bottom right,
    skyblue,
    rgb(74, 137, 189));
}
.appointments-status-pending{
    color: red !important;
}
.appointments-status-accepted{
    color: rgba(0, 128, 0, 0.782) !important;
}
.notification-delete-button{
    border:none !important;
    border-radius: 10px !important;
}
.notification-delete-button:hover{
    color:#fafafa !important;
    background-color: navy !important;
}