.set-appointment-container{
    margin: 50px;
}
.modalContainer {
    width: 500px;
    height: fit-content;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.inputTextFields{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.addMeetButtonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.addMeetButton{
    margin: 10px;
    border: none;
    color: black;
    border-radius: 15px;
    font-size: 20px;
}
.addMeetButton:hover{
    background-color: tomato;
    cursor: pointer;
}