.videocallContainer {
	height: fit-content;
	margin-top: 120px;
}
.video-call-container-container {
	display: grid;
	grid-template-columns: 9fr 1fr;
	/* background-color: black; */
	height: 120vh;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 60vh;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* justify-content: center;
	align-content: center; */
	/* margin-top: 10rem;
	margin-left: 10rem; */
}

.caller {
	position: absolute;
	top: 5%;
	left: 30%;
	text-align: center;
	background-color: #1C1E20;
	border-radius: 20px;
}
.caller h1{
	color: #fff;
}
.MuiButton-containedPrimary{
	margin-right: 10px !important;
}
.main__mute_button i, .main__mute_button span{
	color: #fff;
}
.video{
	/* text-align: center; */
	margin-left: 10%;
	margin-top: 3%;
}
.video h3{
	/* color: black; */
	/* background-color: #c9d6ff; */
	background-color: #1C1E20;
    /* display: flex; */
    /* width: fit-content; */
    font-size: 18px;
    color: #F5F5F5;
    margin-left: 8px;
	width: 54%;
	text-align: center;
	padding: 8px;
	/* margin-bottom: -8px; */
}
